<!DOCTYPE html>
<html>
<head>
    <title>Player Information Form</title>
</head>
<body>
    <h2>Player Information Form</h2>
    <form action="/addPlayer" method="post">
        <label for="playerName">Player Name:</label><br>
        <input type="text" id="playerName" name="playerName"><br><br>
        
        <label for="nationality">Nationality:</label><br>
        <select type="text" id="nationality" name="nationality">
            <option value="Indian">Indian</option>
            <option value="Overseas">Overseas</option>
            

        </select><br><br>
        
        <label for="basePrice">Base Price:</label><br>
    
        <input type="text" id="basePrice" name="basePrice"><br><br>

 


        <label for="type">type :</label><br>
    
        <select type="text" id="type" name="type">
            <option value="">select</option>
            <option value="Bat's Man">Bat's Man</option>
            <option value="Bowler">Bowler</option>
            <option value="Wicket Keeper">Wicket Keeper</option>
            <option value="All Rounder">All Rounder</option>
            <option value="Extra Player">Extra Player</option>
            <option value="Other">Other</option>



        </select><br><br>


        <label for="type">imageURL :</label><br>
        <input type="text" id="type" name="imageUrl"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
