<!DOCTYPE html>
<html>
<head>
    <title>Team Information Form</title>
</head>
<body>
    <h2>Team     Information Form</h2>
    <form action="/addTeam" method="post">
        <label for="teamName">Team Name:</label><br>
        <input type="text" id="teamName" name="teamName"><br><br>
        
    
        <input type="submit" value="Submit">
    </form>
</body>
</html>
